.cv-doc {
    height:auto !important;
}
@media (min-width: 992px)
{
.navbar-nav .dropdown-menu:before {
    background: #fed008 !important;
    }
    }
.w-61{
    width:61px !important;
}
.w-20{
    width:20px !important;
}
.hei-100{
    height:100px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff !important;
    border-bottom:2px solid #fed008 !important;
    color:#fed008 !important;
    font-size:24px !important;
    
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #fed008 !important;
}
.custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 0.2rem #fed008 !important;
    box-shadow: 0 0 0 0.2rem #fed008 !important;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    -webkit-transition: #fed008  .15s ease-in-out,#fed008 .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
    transition:#fed008 .15s ease-in-out,#fed008 .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
    -o-transition: #fed008  .15s ease-in-out,#fed008 .15s ease-in-out,box-shadow .15s ease-in-out !important;
    transition: #fed008  .15s ease-in-out,#fed008 .15s ease-in-out,box-shadow .15s ease-in-out !important;
    transition: #fed008 .15s ease-in-out,#fed008 .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
}
.custom-checkbox .custom-control-input:checked  .custom-control-label::before {
    border-color: #fed008 !important;
}

.custom-checkbox .custom-control-input:checked  .custom-control-label::before {
    background-color: #fed008 !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #fed008 !important;
    background-color: #fed008 !important;
}
.custom-toggle input:checked + .custom-toggle-slider:before {
    background: #fed008 !important;
    transform: translateX(1.625rem);
}
.custom-toggle input:checked + .custom-toggle-slider {
    border: 1px solid #fed008 !important;
}
.input-bc {
    background-color: #e9ecef !important;
}
.input-group-alternative {
    box-shadow: 0 1px 3px #ffffff, 0 1px 0 #ffffff !important;
}
.border-b-l-r {
    border-bottom-left-radius: 12px !important;
}
.cross{
    width:17px !important;
    height:17px !important;
    cursor: pointer;
    
}
.border-t-l-r {
    border-top-left-radius: 12px !important;
}
.border-b-r-r {
    border-bottom-right-radius: 12px !important;
}
.border-t-r-r {
    border-top-right-radius: 12px !important;
}
.nav-pills .nav-link {
    box-shadow: none !important;
}
.nav-pills .nav-link {
    font-size:24px !important;

    color:#1d1d1d !important;
}
.w-150 {
    width:150px !important;
}
.w-250 {
    width:250px !important;
}
.circle-noti {
    width:40px !important;
    height:40px !important;
    border-radius:20px !important;
}
.primary-color{
    background-color: #fed008 !important;
    border-color: #fed008 !important;
}
.bg-dark{
    background-color: #1d1d1d !important;
    border-color: #1d1d1d !important;
}
.primary-color-text{
    color: #fed008 !important;

}
.h-2 {
    height:2px !important;
}
.h-50 {
    height:50px !important;
}
.mt--75 {
    margin-top: -75px !important;
}
.mt--250 {
    margin-top: -250px !important;
}
.mt--220 {
    margin-top: -220px !important;
}
.h-110{
    height:110px !important;
}
.border-zoo{
    border:4px solid #fed008 !important;
}
.h-70{
    height:70px !important;
}
.intro_text {
      color: #000000;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.11px;
      line-height: 58px;
      margin: 0px 0 10px;
      
    }
.border-bottom-noti {
    border-bottom: 2px solid #1d1d1d !important;
}
.intro_text-welcome {
      color: #000000;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0.11px;
      line-height: 58px;
      margin: 0px 0 10px;
      
    }
.slick-track{
    height:450px !important;
    padding-top: 75px !important;
/*    padding-bottom: 75px !important;*/
}
.my-family{
    font-family: 'Arial';
}
.f-24 {
    font-size: 24px !important;
}.f-10 {
    font-size: 10px !important;
}.f-12 {
    font-size: 12px !important;
}.f-8 {
    font-size: 8px !important;
}.f-28 {
    font-size: 28px !important;
}.f-40 {
    font-size: 40px !important;
}.f-14 {
    font-size: 14px !important;
}.f-29 {
    font-size: 29px !important;
}
.f-15 {
    font-size: 15px !important;
}
.f-21 {
    font-size: 21px !important;
}
.f-22 {
    font-size: 22px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-19 {
    font-size: 19px !important;
}
.blog_section_border {
     background-color: #ffffff;
    border-color: #1d1d1d;
    border: 2px solid #1d1d1d;
    border-radius: 4px 4px 0 0;
    padding: 40px;
    height: 547px;
    
}
.blog_section {
        background-color: #0a0a0a;
    border-radius: 4px 4px 0 0;
    padding: 40px;
    height: 547px;
   
}.event_section {
        background-color: #fed008;
    border-radius: 4px 4px 0 0;
    padding: 40px;
    height: 547px;
}
.btn-white{
    background-color: #ffffff !important;
    border-color:#ffffff !important;
}